GEMINI_ENABLED=false
GEMINI_BACKGROUND_ENABLED=false

LIVE_ANALYST_GEMINI_ENABLED=false
LIVE_ANALYST_VISION_GEMINI_ENABLED=false
LIVE_ANALYST_VISION_TOTAL_ATTEMPTS_PER_REQUEST=2
LIVE_ANALYST_VISION_MAX_ATTEMPTS_PER_CALL=1

SIGNAL_CACHE_WORKER_ENABLED=false
SIGNAL_CACHE_GEMINI_ENABLED=false
SIGNAL_CACHE_SUMMARY_GEMINI_ENABLED=false

WATCHLIST_WORKER_ENABLED=false
WATCHLIST_AI_SUMMARY_GEMINI_ENABLED=false

GEMINI_DEFAULT_MAX_ATTEMPTS=1
GEMINI_ALLOW_FALLBACK_MODEL=false
GEMINI_RETRY_ON_TIMEOUT=false
GEMINI_RETRY_ON_RATE_LIMIT=false
GEMINI_RETRY_ON_SERVER_ERROR=false
